<!-- <app-navbar></app-navbar> -->
<div>
    <div style=" height: 480px;
width: 100%;
margin-top: 0%;
background: url('/assets/images/it3.jpg');
background-size: cover;
background-position: center;" class="top-container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);background-color: rgb(240, 227, 227);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
        <div class="main-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="overlay">
                            <div class="banner-title">
                                <h1 style="padding-top: 19%; color: white;font-weight: 500;">We're Building software to help</h1>
                                <p style="color: white;">Info Hut is a next-generation global technology company that helps enterprises reimagine their businesses for the digital age.We are building software to help.Info Hut also takes pride in its many diversity, social responsibility,
                                    sustainability, and education initiatives. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body class="id">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="font-family: 'Righteous', cursive;color: rgb(133, 8, 122);">Short About us</h1>
                <p>We are a team of young people from various facets of the IT industry. We have diverse experience ranging from basic computer assembly to Large Network Implementations. This has been achieved through skill of integration and implementation
                    with you the very best in the industry.</p>
                <p> With our extensive knowledge of the industry , we are in a position to meet the most stringent requirements of our clients. We are the only one in our field. Our service support policy is one of the crucial factors in our success and quality
                    of service we render to our customers.</p>
                <p> Equipped with the ability to satisfy our customers in every field of IT, we provide the best quality of reliable service. We consciously seek to buildlong term relationship with our clients because we cherish & strongly believe in long
                    term relationships.
                </p>
                <p> Today, we strive ahead with confidence to reach and stay at the top through commitment and excellence on our work. Our aim is to become of the top today and always with the satisfaction of customers.It help you focus on your goals and
                    strategies to help you serve your customers better.</p>
                <!-- <p> Equipped with the ability to satisfy our customers in every field of IT, we provide the best quality of reliable service. We consciously seek to buildlong term relationship with our clients because we cherish & strongly believe in long
                    term relationships.
                </p> -->
            </div>
            <div class="col-md-6">
                <div style="margin-top: 5%;" class="card">
                    <img style="height: 100%;width: 100%;" src="/assets/images/ab.jfif" alt="">
                    <p>Our Company provides full fledged consultancy and specialised solutions for all the IT requirements of the client/partner to increase the productivity. In the emerging competitive environment, IT infrastructure plays the role of a
                        Powerful business enabler to improve the clients’ business processes and goals, stratagies. </p>
                </div>
            </div>
        </div>
        <div style="margin-top: 6%;" class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <img id="box" src="/assets/images/re.jfif" alt="">
                        <a style="text-align: center;margin-left: 15%;margin-top: 5%;" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
         Revenues
        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            As of December 2021, the company, along with its subsidiaries, had a consolidated annual revenue of ₹ 71,265 crore (US$10 billion).
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p>
                        <img id="box" src="/assets/images/ee.jfif" alt="">
                        <a style="text-align: center;margin-left: 10%;margin-top: 5%;" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExampleo" role="button" aria-expanded="false" aria-controls="collapseExample">
      Employees
        </a>
                    </p>
                    <div class="collapse" id="collapseExampleo">
                        <div class="card card-body">
                            As of December 2021, our company has 10000 trained conducted employees globally.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p>
                        <img id="box" src="/assets/images/yrs.jfif" alt="">
                        <a style="text-align: center;margin-left: 10%;margin-top: 5%;" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExamplet" role="button" aria-expanded="false" aria-controls="collapseExample">
        Years of Service
        </a>
                    </p>
                    <div class="collapse" id="collapseExamplet">
                        <div class="card card-body">
                            We are providing our IT consult services from 2011.Now we are having 10 years of experience.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p>
                        <img id="box" src="/assets/images/cnt.png" alt="">
                        <a style="margin-top: 13%;text-align: center;" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExampleth" role="button" aria-expanded="false" aria-controls="collapseExample">
       Countries we are present in
        </a>
                    </p>
                    <div class="collapse" id="collapseExampleth">
                        <div class="card card-body">
                            We are present in 5 countries globally. (5 countries operational presence) Botswana | Burkina Faso | Egypt | India | UAE (Corp. HQ)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
</body>