<nav class="navbar navbar-expand-sm bg-dark navbar-dark  ">
    <div class="container">
        <h1 style="padding-top: 2%;" class="hb"><a style="margin-bottom: 10%;" class="navbar-brand" href="index.html">Info Hut</a></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li style="margin-left: 120%;" class="nav-item">
                    <a id="id1" class="btn" class="nav-link active" sty aria-current="page" routerLink="home"> Home</a>
                </li>
                <li class="nav-item">
                    <a id="id1" class="btn" class="nav-link active" sty aria-current="page" routerLink="about"> About</a>
                </li>
                <li class="nav-item">
                    <a id="id1" class="btn" class="nav-link active" sty aria-current="page" routerLink="services"> Services</a>
                </li>
                <li class="nav-item">
                    <a id="id1" class="btn" class="nav-link active" sty aria-current="page" routerLink="careers"> Careers</a>
                </li>
                <li class="nav-item">
                    <a id="id1" class="btn" class="nav-link active" sty aria-current="page" routerLink="registration"> Register</a>
                </li>
                <li class="nav-item">
                    <a id="id1" class="btn" class="nav-link active" sty aria-current="page" (click)="logout()"> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>