<div class="id">
    <div style="background-color: rgb(240, 227, 227);" class="cl">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);background-color: rgb(240, 227, 227);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Careers</li>
            </ol>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 style="color:blue;font-weight:bold;font-size:16px;margin-top: 13%;">JOIN US</h5>
                    <h1 style="font-weight: bolder;font-size: 45px;margin-top: 5%;">We're Hiring</h1>
                    <p style="margin-top: 5%;">Join the happiest and best nourishing workplace that cares for you and nurtures your growth. Write to <a href="https://outlook.office.com/mail/"> jobs@infohut.com</a>
                    </p>
                    <button class="btn btn-dark">
                      <a style="text-decoration: none;color: white;" routerLink="registration"> Register</a> </button>
                </div>
                <div class="col-md-6">
                    <img style="height: 90%;width: 90%;" src="/assets/images/hnd.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <p style="color:blue;font-weight:bold;font-size:16px;margin-top: 5%;text-align: center;margin-left:6%">#HAPPYWORKPLACE</p>
            <h1 style="text-align: center;margin-left: 7%;font-weight: 900;font-size:40px">Why work at Info Hut?</h1>
            <div class="row">
                <div class="col-md-10">
                    <h2 style="text-align: center;margin-left: 30%;color: rgb(126, 123, 123);font-weight: 600;"> We value your ideas</h2>

                    <p style="margin-left: 30%;"> Bring your ideas without fear of being judged, irrespective of roles and years of experience.</p>

                    <h2 style="text-align: center;margin-left: 30%;color: rgb(126, 123, 123);font-weight: 600;"> Learning and growth</h2>

                    <p style="margin-left: 30%;">Gain ample opportunities to enhance core skills and interpersonal skills through training and sessions.</p>

                    <h2 style="text-align: center;margin-left: 30%;color: rgb(126, 123, 123);font-weight: 600;"> People-friendly policies</h2>

                    <p style="margin-left: 30%;"> People are our USP. All our policies are aimed at creating an inclusive and flexible work culture.</p>

                    <h2 style="text-align: center;margin-left: 30%;color: rgb(126, 123, 123);font-weight: 600;"> Best work-life</h2>

                    <p style="margin-left: 30%;"> From celebrating festivals and events, connecting with peers for occasional chats, to planning </p>
                    <p style="margin-left: 39%;"> workations, you can strike the perfect work-life balance.</p>
                </div>
            </div>
            <div class="row">
                <img src="/assets/images/cr4.webp" alt="">
            </div>
            <div class="container">
                <h1 style="text-align: center;margin-top: 5%;font-weight: 500;font-family: 'Righteous', cursive;color: rgb(133, 8, 122);">Benefits</h1>
                <div class="row">
                    <div style="margin-left: 10%;" class="col-md-2">
                        <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Better Work Environment</button>
                        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                                <h5 style="color: crimson;font-size: 25px;" class="offcanvas-title" id="offcanvasBottomLabel">Better Work Environment</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <hr>
                            <div class="offcanvas-body small">
                                <p style="font-size: 15px;"> Positive working environments provide several benefits for both employees and employers. This is because this type of environment can lead to employee success and happiness both personally and professionally. Here are four
                                    reasons why a positive work atmosphere is important in the workforce:</p>
                                <ul style="font-size: 15px;">
                                    <li>Transparent & Open Communication</li>
                                    <li>
                                        Building Trust
                                    </li>
                                    <li>
                                        Training & Development
                                    </li>
                                    <li>
                                        Team Spirit
                                    </li>
                                    <li>
                                        Appreciation
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom1" aria-controls="offcanvasBottom">Health Insurance Plan</button>

                        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom1" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                                <h5 style="color: crimson;font-size: 25px;" class="offcanvas-title" id="offcanvasBottomLabel">Health Insurance Plan</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <hr>
                            <div class="offcanvas-body small">
                                <p style="font-size: 15px;"> Medical costs associated with the treatment of such diseases are increasing rapidly. In order to safeguard your finances against high medical bills, it is necessary to invest in health insurance plans. Such plans cover
                                    all hospitalization expenses, as well as pre-hospitalization and post-hospitalization charges. Following are five major advantages of purchasing a health care plan:</p>
                                <ul style="font-size: 15px;">
                                    <li>Coverage against medical expenses

                                    </li>
                                    <li>Coverage against critical illnesses

                                    </li>
                                    <li>Cashless claim benefit
                                    </li>
                                    <li>Additional protection over and above your employer cover
                                    </li>
                                    <li>Tax benefits
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom2" aria-controls="offcanvasBottom"> Flexible work arrangements</button>
                        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom2" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                                <h5 style="color: crimson;font-size: 25px;" class="offcanvas-title" id="offcanvasBottomLabel">Flexible Work Arrangements</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <hr>
                            <div class="offcanvas-body small">
                                <p style="font-size: 15px;">Flexible work arrangements, known as flextime, refers to work environment and schedules that don't have normal constraints of a traditional job. Flexible work arrangements This arrangements take into account individual's
                                    personal needs and allow employees to better sync their work hours with their their personal responsibilities.</p>
                                <ul style="font-size: 15px;">
                                    <li>Telecommuting</li>
                                    <li>Remote Working.</li>
                                    <li>Condensed Workweeks</li>
                                    <li>Customized Working Hours.</li>
                                    <li>Hybrid Work. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom3" aria-controls="offcanvasBottom"> Relaxation Station for Refreshment</button>
                        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom3" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                                <h5 style="color: crimson;font-size: 25px;" class="offcanvas-title" id="offcanvasBottomLabel">Relaxation workstation</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <hr>
                            <div class="offcanvas-body small">
                                <p style="font-size: 15px;">A relaxed workplace can benefit your business by increasing job satisfaction and reducing stress. As any employer knows, high stress levels among employees can be detrimental to a business. Stress often causes burnout,
                                    health problems, the inability to focus and workplace conflicts.</p>
                                <p style="font-size: 15px;">The workplace is becoming increasingly digital, and even companies with an open floor plan may notice that employees are keeping to themselves more often. Giving your employees a space to hang out with their coworkers is
                                    a great way to increase collaboration among employees. Encouraging interaction with other employees can increase creativity and create a stronger bond within the workplace. Providing comfortable chairs, board games
                                    and cards is a great way to encourage your employees to interact in a relaxing environment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom">Free Coffee & Healthy Snacks</button>
                        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                                <h5 style="color: crimson;font-size: 25px;" class="offcanvas-title" id="offcanvasBottomLabel">Healthy snacks and free coffee</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <hr>
                            <div class="offcanvas-body small">
                                <p style="font-size: 15px;">Free snacks, drinks, and other food are a popular office perk for multiple reasons. Visibility. Employees can immediately see and enjoy the benefit. Changing habits. Snacks appeal to the many workers whose eating habits
                                    are shifting towards snacking throughout the day rather than eating meals at set times 1 ﻿. Time management.</p>
                                <p style="font-size: 15px;">The key to happiness at work is free snacks. Free meals and snacks at work increases employee happiness, according to a survey by grocery-delivery service Peapod. Some job seekers even factor the perk in when considering
                                    which companies to work for.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 style="margin-top: 5%;font-size: 35px;text-align: center;font-family: 'Righteous', cursive;color: rgb(133, 8, 122);">Top Industries We are working</h1>
            <div style="margin-top: 5%;" class="container-fluid">
                <div style="padding-left: 5%;  padding-right: 5%;" class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 style="margin:0 0 0px;" class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h6>Automative industry</h6>
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img style="height: 80%; width: 80%;" src="/assets/images/atm.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 style="font-size: 20px;" class="card-title">Automatic Industry</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p> The automotive industry comprises a wide range of companies and organizations involved in the design, development, manufacturing, marketing, and selling of motor vehicles. It is one of the world's largest industries
                                                by revenue. It is also the industry with the highest spending on Research & Development.The automotive industry includes industries associated with the production, wholesaling, retailing, and maintenance
                                                of motor vehicles.</p>
                                            <ol>
                                                <li><strong>Automate supplier onboarding:  </strong> One major reason companies can’t adapt adequately enough is because they can’t find and integrate the right suppliers in a timely manner. </li>
                                                <li><strong>Modernize technology:</strong>Most automakers have a patchwork of supply chain and B2B network technologies that were never designed for today’s dynamic environment. </li>
                                                <li><strong>Increase Flexibility:</strong>Auto manufacturers manage an increasingly complex, multi-enterprise ecosystem, but it’s typically overwhelmed by disparate systems and disconnected processes. </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 style="margin:0 0 0px;" class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h6>Medical Industry</h6>
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img style="height: 80%; width: 80%;" src="/assets/images/mdc.jfif" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 style="font-size: 20px;" class="card-title">Medical Industry</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p> IoT in medical and healthcare fields can include a lot of things like wearable devices, drug tracking system, medical supply chain, remote patient monitoring, and more. IoMT can help increase the accuracy of
                                                diagnoses due to constant monitoring of health changes. IoT applications in healthcare help users stay connected to the doctors or nurses.</p>
                                            <ol>
                                                <li> <strong> Electronic health records (EHR) </strong>he EHR systems have been integrated into the different operations in medical practice. </li>
                                                <li><strong> Virtual reality:</strong>Initially, this technology was mostly used in the entertainment industry to enhance the experience of the users. </li>
                                                <li> <strong> Robot-assisted surgery:</strong>Robotic surgeries are making waves in the healthcare industry. They have made a very significant contribution to improving the efficiency of operations. </li>

                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 style="margin:0 0 0px;" class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h6>Gaming Industry</h6>
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img style="height: 80%; width: 80%;" src="/assets/images/electrical parts.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 style="font-size: 20px;" class="card-title">Gaming Industry</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p>The gaming industry, part of the entertainment industry, is comprised of three main types of players. From game engines, which help developers build their games. To publishing gaming houses. And gaming consoles.
                                                While the prevailing business model for decades has been that of selling the console at cost, and make money on games.</p>
                                            <ol>
                                                <li><strong> Good gaming experience: </strong>While gaming is fun, some people suck out the excitement by cheating. The BBC network revealed..</li>
                                                <li><strong>Authentic ownership of game assets:</strong>With Blockchain technology, gamers can be the actual owners of in-game assets</li>
                                                <li><strong>Governance based on players:</strong> Most traditional video games are centralized and controlled by developers.With Blockchain technology, developers can leverage the hybridized model </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <router-outlet></router-outlet>